prefixes = ["!"]
token = "token-goes-here"
bot_description = "An attempt to rewrite the bot used in ReSwitched, modified for the Celeste Discord"

source_url = "https://github.com/leo60228/robocop-ng"
rules_url = "https://leo60228.space"

embed_desc = "Everest helper bot"
